*{
    margin: 0px;
    padding: 0px;
}
header{
    background-image:url(images/img1.jpg);
    height: 90vh;
    width: 100%;
    background-size:cover;
}
img{
    width: 40px;
    height: 30px;
    padding: 20px;
    padding-top:14px ;
    padding-bottom: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    position:sticky;
    bottom:0;
    background-color: #002E5F;
}

nav ul{
    display: flex;
    list-style-type:none; 
    justify-content: space-around;
    margin-right: 10px;
 
}
nav ul li{
    padding: 20px;
    padding-top:14px ;
    padding-bottom: 3px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
}
a:hover{
    text-decoration: underline;
    color: #007bff;
}
#head{
    text-align: center;
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 250px;
    font-weight: bold;
}